extends layout

block content
	if(contents)
		.col-md-12
			.editor-wrapper
					#accordion.panel-group
						.panel.panel-default
							.panel-heading
								h4.panel-title
									a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
										| Curriculum Assets <span class="caret"></span>
							#collapseOne.panel-collapse.collapse.in
								.panel-body
									.btn-group
										button.noformatbutton#collaborate_button
											img(src="/images/collaborate.png")#si_icon
										button.noformatbutton#create_button
											img(src="/images/create.png")#si_icon
										button.noformatbutton#deliver_button
											img(src="/images/deliver.png")#si_icon
										button.noformatbutton#discover_button
											img(src="/images/discover.png")#si_icon
										button.noformatbutton#download_button
											img(src="/images/download.png")#si_icon
										button.noformatbutton#feedback_button
											img(src="/images/feedback.png")#si_icon
										button.noformatbutton#install_button
											img(src="/images/install.png")#si_icon
										button.noformatbutton#read_button
											img(src="/images/read.png")#si_icon
										button.noformatbutton#reflect_button
											img(src="/images/reflect.png")#si_icon
										button.noformatbutton#spiral_button
											img(src="/images/spiral.png")#si_icon
										button.noformatbutton#stretch_button
											img(src="/images/stretch.png")#si_icon
										button.noformatbutton#watch_button
											img(src="/images/watch.png")#si_icon
					#saved-alert.alert.alert-success(style="display:none") All contents saved.
					textarea(style="display:none")#labcontent
						| #{contents}
	input(type='hidden', id='contentinput', name='contentinput', value=contents)
	input(type='hidden', name='blob_to_save', id='blob_to_save' value='#{blob}')
	input(type='hidden', name='url_to_save', id='url_to_save' value='#{saveurl}')
	input(type='hidden', name='filepicker_key', id='filepicker_key' value='#{FILEPICKER_KEY}')
	if(logged_in == false)
			center
				h1 
					strong
						| Startup Institute Curriculum
			#introtext.col-md-6.col-md-offset-3
				p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et pharetra augue. Ut lobortis ullamcorper risus, non fermentum elit tristique eu. Sed interdum mi ut lacus porttitor, et tempor sapien adipiscing. Fusce dapibus feugiat lorem commodo tempor. Morbi lacus dui, tincidunt id ornare a, pretium a metus. Praesent pulvinar erat metus, sed suscipit nulla egestas a. In egestas nisl nec pretium imperdiet. Vestibulum sagittis ligula sed congue tempus. Nullam imperdiet placerat enim, quis feugiat lorem lacinia ut. Integer tincidunt, dui quis vestibulum vestibulum, dui dolor fringilla augue, at consequat lectus nibh eget massa.
				br
				p
				| Quisque eu quam quis metus blandit suscipit ac sit amet odio. Proin placerat, lectus ac commodo sodales, metus orci facilisis sem, eu lobortis metus purus sit amet urna. In id pharetra est. Curabitur ullamcorper diam velit, in tincidunt erat fringilla quis. Ut volutpat nisl ac eros pharetra pulvinar. Praesent in augue accumsan est sagittis pretium. Phasellus eget est ac enim luctus convallis. Duis sodales, turpis nec tincidunt porta, diam erat hendrerit ligula, eleifend condimentum nisl enim mattis neque.
