extends layout

extends home

block content
	.col-md-12
		.editor-wrapper
				#saved-alert.alert.alert-success(style="display:none") All contents saved.
				textarea(style="display:none")#labcontent
					| #{contents}
	input(type='hidden', id='contentinput', name='contentinput', value=contents)
	input(type='hidden', id='r_input', name='r_input', value=user.role)
	input(type='hidden', name='blob_to_save', id='blob_to_save' value='#{blob}')
	input(type='hidden', name='url_to_save', id='url_to_save' value='#{saveurl}')
	input(type='hidden', name='filepicker_key', id='filepicker_key' value='#{FILEPICKER_KEY}')
